/*basico*/
*{    
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F5F1;
}
header, main, footer{
    width: 100%;  
    margin: auto;
    /*teste*/
    border: 1px black solid;
    min-height: 600px;
}
.container{
    width: 1280px;
    margin-right: auto;
    margin-left: auto;    
    /*teste*/
    /*border: 1px black solid;
    min-height: 150px;*/
}
/*basico-fim*/

/*Menu*/
header #menu{
    width: 596px;
    height: 8px;
    margin: auto;
}
    header #menu ul {
        width: auto !important;
        padding:0px;
        margin:0px;   
        list-style:none;         
    }
        #menu ul li {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 14px;
            float: left;
        }
            #menu ul li a {
                padding: 0px 40px 0px 0px;
                display: inline-block;
                text-decoration: none;
                color: #000000;
            }
/*Menu-fim*/

/*RESPONSIVO*/

@media screen and (max-width: 1280px) {
    .container{
        width: auto;
    }    
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    
     .container{
        width: 724px;
    }  
    #menu ul li {
    
         float: none;
    }   
}

@media screen and (max-width: 767px){
    
    .container {
    width: auto;
    }
}
/*RESPONSIVO-fim*/

