/*font's*/

.font1_2em{
	font-size: 1.2em;
}
.font1_8em{
	font-size: 1.8em;
}

/*Padding's*/

.pad-none{
	padding: 0;
}
.no-pag-left{
	padding-left: 0;
}
.pad-left1em{
	padding-left: 1em;
}
.no-pag-right{
	padding-right: 0;
}
.pad-top1em{
	padding-top: 1em;
}
.pad-top2em{
	padding-top: 2em;
}
.pad-top1_714em{
	padding-top: 1.714em;
}
.pad-bottom1em{
	padding-bottom: 1em;
}
.pad-bottom1_714em{
	padding-bottom: 1.714em;
}

/*margin's*/

.margin-none{
	margin: 0;
}
.margin-center{
	margin:0 auto;
}
.margim-right4_5{
	margin-right: 4.571em;
}
.margBot1em{
	margin-bottom: 1em;
}
.margtop1em{
	margin-top: 1em;
}
.margtop2em{
	margin-top: 2em;
}

/*cor de fundo*/

.fundo-cinza-claro{
	background-color:#EDEDED;
}

.fundo-preto{
	background-color: black;
}

/*cor de texto*/

.black{
	color: black;
}
.branco{
	color: #fff;
}
.amarelo{
	color: #fcc300;
}

/*outros*/

.text-center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.bolder{
	font-weight: bolder;
}
.small {
	font-size: 80%;
}
.overflow-auto{
	overflow:auto;
}
.display-line{
	display: inline;
}
.display-inblock{
	display: inline-block;
}
.display-block{
	display: block;
}
/* border */

.border-cinza{
	border-top: 1px solid rgba(185, 178, 178, 0.58);
}
/*espaço*/
.spac-02{
	letter-spacing: 0.2em;
}

/* float */

.fleft{
	float: left;
}

.fright{
	float: right;
}