/**
* @section RESPONSIVE
*/
@media (max-device-width: 768px){
  header .menu ul li a{font-size: 30px;}
  section.recommendations .products .product{height: auto;}
  section.recommendations .products .product .rating{
    height: 70px;
    width: 300px;
  }
  section.recommendations .products .product span,
  section.recommendations .products .product p,
  section.recommendations .products .product button{font-size: 40px;}
}
@media (min-device-width: 768px) and (max-device-width: 1023px) {
  img{
    max-width: 400px;
  }
}
@media (max-device-width: 900px){
  img{border-radius: 25px;}
  .banner-sale{
    width: calc(100% - 40px;)
  }
}
@media (max-device-width: 1023px){
  section{
    .categories{
      .category{
        text-align: center !important;
      }
    }
  }
}
