//SIZE OF HEADERS AND PARAGRAPHERS
@fSize: 1rem;

a {
  text-decoration: none !important;
}

.lato-light {
  font-weight: 300;
}

.lato-normal {
  font-weight: 400;
}

.lato-bold {
  font-weight: 700;
}

.lato-black {
  font-weight: 900;
}

.texts-mini {
  font-size: @fSize * .6875;
}

.texts-small {
  font-size: @fSize * .75;
}

.texts-regular {
  font-size: @fSize * .875;
}

.texts-medium {
  font-size: @fSize * 1.125;
}

.texts-large {
  font-size: @fSize * 1.94;
}

.texts-extra-large {
  font-size: @fSize * 2.57;
}

.texts-big {
  font-size: @fSize * 4.69;
}

.text-spaced {
  letter-spacing: @pixel-proportion / 4;
}
