<!DOCTYPE html>
<html lang="pt-br" ng-app="profiteDesafio">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <link rel="stylesheet" href="dist/css/style.css">

    <script src="src/js/lib/angular.min.js"></script>
    <script src="src/js/lib/angular-animate.min.js"></script>
    <script src="src/js/lib/angular-route.min.js"></script>
    <script src="src/js/lib/angular-resource.min.js"></script>
    <script src="src/js/main.js"></script>
    <script src="src/js/controllers/produto-controller.js"></script>
    <script src="src/js/controllers/filtro-controller.js"></script>
    <script src="src/js/directives/tamanho-controller.js"></script>

    <script src="src/js/directives/produtos-diretivas.js"></script>



    <title>Desafio Profit-e</title>
</head>

<body onLoad="codeReset()">

    <header class="col-12" ng-controller="VestidoController">
        <nav>
            <img src="src/image/logo-profite.png" alt="logo" class="logo">
            <img src="src/image/sacola-compra.png" alt="logo" class="sacola">
            <span id="compra"></span>
        </nav>
    </header>

    <main class="product col-12">

        <div class="meio col-12">
            <h2>VESTIDOS</h2>
            <div id="menuMobile">
                <div class="menu col-3">
                    <section class="filter-options col-12">
                        <div class="larguraMax"></div>
                        <div id="lateral" class="largura2">
                            <p class="filtro">Filtrar</p>
                            <div class="widget" ng-controller="FiltroController">
                                <div class="cores">
                                    <h3 onclick="sanfona('boxCores');">CORES</h3>
                                    <div id="boxCores" class="checkBtn" ng-repeat="filtros in filtros">
                                        <input class="checkbox" type="checkbox" value="{{filtros.value}}" id="{{filtros.id}}">
                                        <label for="{{filtros.name}}">{{filtros.name}}</label>
                                    </div>
                                </div>
                                <!-- .cores -->
                                <div class="tamanhos">
                                    <h3>TAMANHOS</h3>
                                    <div class="selectBtn">
                                        <ul>
                                            <li>
                                                <a href="#">P</a>
                                            </li>
                                            <li>
                                                <a href="#">M</a>
                                            </li>
                                            <li>
                                                <a href="#">G</a>
                                            </li>
                                            <li>
                                                <a href="#">GG</a>
                                            </li>
                                            <li>
                                                <a href="#">U</a>
                                            </li>
                                            <li>
                                                <a href="#">36</a>
                                            </li>
                                            <li>
                                                <a href="#">38</a>
                                            </li>
                                            <li>
                                                <a href="#">40</a>
                                            </li>
                                            <li>
                                                <a href="#">42</a>
                                            </li>
                                            <li>
                                                <a href="#">44</a>
                                            </li>
                                            <li>
                                                <a href="#">46</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- .tamanhos -->
                                <div class="precos">
                                    <h3>PREÇOS
                                    </h3>
                                    <div class="checkBtn">
                                        <input type="radio" name="preco" value="0-50" id="0-50" checked="">
                                        <label for="0-50">de R$ 0 até R$ 50</label>
                                        <input type="radio" name="preco" value="51-150" id="51-150">
                                        <label for="51-150">de R$ 51 até R$ 150</label>
                                        <input type="radio" name="preco" value="151-300" id="151-300">
                                        <label for="151-300">de R$ 151 até R$ 300</label>
                                        <input type="radio" name="preco" value="301-500" id="301-500">
                                        <label for="301-500">de R$ 301 até R$ 500</label>
                                        <input type="radio" name="preco" value="500+" id="500+">
                                        <label for="500+">a partir de R$ 500</label>
                                    </div>
                                    <!-- .precos -->
                                </div>
                            </div>
                        </div>
                        <div id="ordem">
                            <p class="filtro">Ordenar</p>
                            <div class="widget">
                                <p>Ordernar por:
                                    <span>
                                        <img src="src/image/setaBaixo.png" alt="">
                                    </span>
                                </p>
                                <ul>
                                    <li>Mais recentes</li>
                                    <li>Menor preço</li>
                                    <li>Maior preço</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="produtos col-9" ng-controller="VestidoController">

                    <section class="products-images col-12">
                        <div class="product-box" ng-repeat="produto in produtos | filter: filtro">
                            <img class="preview-image" src="{{produto.url}}" alt="{{produto.fototitulo}}" class="">
                            <div class="box-name">
                                <p class="name">{{produto.nome}}</p>
                            </div>
                            <div class="box-value">
                                <div class="price">
                                    <p>R$ {{produto.valor}}</p>
                                    <p>até {{produto.prestacao}}x de R${{produto.valorprestacao}}</p>
                                </div>
                                <div class="shop">
                                    <img onClick="onClick()" src="src/image/shop-icon.png" ng-click="count = count + 1" ng-init="count=0">
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="box-button">
                        <div class="button">CARREGAR MAIS</div>
                    </div>

                </div>
            </div>
    </main>

    <footer "col-12">
        Profite - CNPJ 05.559.134/0001-60 End: Volumentários da Pátria, 301/702 Botafogo - RJ - 222270-000
    </footer>

</body>


</html>