* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: sans-serif; }

.inner-content {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-size: 30px;
  font-weight: 300; }

h3 {
  font-size: 20px;
  font-weight: 300; }
