@import '../base/highlights.scss';

.filter-mobile{
  width: 100%;
  min-height: 100%;
  height: auto;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $light;
  display: none; 

  .close-filter ,
  .open-close-filters{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .close-filter{
    border-bottom: 1px solid #ccc;
    
    .label-filters{
      color: #ccc;
    }

    .icons{
      transform: rotate(45deg);
    }
    
  }

  .open-close-filters:hover ,
  .open-close-filters:active{
    background-color: $orange;
    color: $font-light;
  }

  .label-filters{
    text-transform: uppercase;
  }

  .icons{
    font-weight: 300;
    font-size: 25px;
  }

  .content-filters{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: none;
  }

  .content-filters.open{
    display: block;
  }
}

@media(max-width: 680px){
  .filter-mobile.open{
    display: block;
  }
}