.filter-mobile {
  width: 100%;
  min-height: 100%;
  height: auto;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: none; }

.filter-mobile .close-filter,
.filter-mobile .open-close-filters {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }

.filter-mobile .close-filter {
  border-bottom: 1px solid #666666; }

.filter-mobile .close-filter .label-filters {
  color: #666666; }

.filter-mobile .close-filter .icons {
  transform: rotate(45deg); }

.filter-mobile .open-close-filters:hover,
.filter-mobile .open-close-filters:active {
  background-color: #ff9f1c;
  color: #ffffff; }

.filter-mobile .label-filters {
  text-transform: uppercase; }

.filter-mobile .icons {
  font-weight: 300;
  font-size: 25px; }

.filter-mobile .content-filters {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: none; }

.filter-mobile .content-filters.open {
  display: block; }

@media (max-width: 680px) {
  .filter-mobile.open {
    display: block; } }
