@import '../base/highlights.scss';

.header{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid $orange;
  padding-top: 35px;
  margin-bottom: 40px;

  &-content{
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  .bag{
    position: relative;

    .counter{
      position: absolute;
      top: 7px;
      right: -16px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: $orange;
      border-radius: 50%;
      color: $font-light;
      text-align: center;
      font-size: 13px;
    }
  }

  

}