    /* Small Devices */

@media only screen and (max-width: 768px) {
    .col {
        padding: 0 10px 0 30px;
    }
    header {
        .logo {
            position: relative;
            top: -60px;
        }
        .header-search {
            position: relative;
            top: 80px;
        }
        .header-login {
            display: table;
            margin: 40px auto;
        }
        .header-cart {
            width: 120px;
        }
    }
    nav {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 20px;
        li {
            width: 50%;
            width: 50%;
            margin: 10px auto!important;
            text-align: center;
            li:last-child {
                width: 100%;
            }
        }
        .banners-middle li {
            margin: 0 10px 10px 30px;
        }
        .caption {
            opacity: 1;
        }
        .most-buy .item button {
            margin-top: 20px;
            display: block;
        }
        .most-buy .item button:after {
            margin: -2px 12px;
        }
        .join-newsletter {
            text-align: center;
            padding: 0 10px;
        }
        .join-newsletter form input[type="submit"] {
            margin-bottom: 20px;
        }
        .join-newsletter form label {
            text-align: left;
        }
        footer {
            padding-top: 0px;
            text-align: center;
            .logo {
                margin: 40px auto;
            }
            .sprite {
                margin: 10px 20px;
            }
            .col-3:nth-child(2), .col-3:nth-child(3) {
                width: 46%;
            }
            .col-3:nth-child(4) {
                margin: 20px auto;
            }
        }
    }
}