@font-face {
    font-family: 'lato-regular';
    src: url('lato-regular/lato-regular.eot');
    src: url('lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('lato-regular/lato-regular.woff') format('woff'),
         url('lato-regular/lato-regular.ttf') format('truetype'),
         url('lato-regular/lato-regular.svg#lato-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light';
    src: url('lato-light/lato-light.eot');
    src: url('lato-light/lato-light.eot?#iefix') format('embedded-opentype'),
         url('lato-light/lato-light.woff') format('woff'),
         url('lato-light/lato-light.ttf') format('truetype'),
         url('lato-light/lato-light.svg#lato-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold';
    src: url('lato-bold/lato-bold.eot');
    src: url('lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('lato-bold/lato-bold.woff') format('woff'),
         url('lato-bold/lato-bold.ttf') format('truetype'),
         url('lato-bold/lato-bold.svg#lato-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES */

@base: #fcc619;

/* MIXINS */

.transitioned {
	transition: all 0.3s ease-out;
}

.invisible {
	opacity: 0;
	visibility: hidden;
}

.visible {
	opacity: 1;
	visibility: visible;
}

/* GENERAL */

a {
	.transitioned;
}

a:hover {
	text-decoration: none;
	color: @base;
}

/*HEADER*/

body {
	font-family: "lato-regular";
}

header {

	.headerTop {
		border-bottom: 1px solid #e4e4e4;
    	padding-bottom: 10px;
	}

	#headerSearch {
	    background-color: #f4f4f4;
	    height: 32px;
	    box-sizing: border-box;
	    padding: 5px 11px;
	    border-radius: 3px;
        margin-top: 45px;

	    i {
	    	font-size: 18px;
	    }

		input {
			border: 0;
			background: transparent;
			width: ~"calc(100% - 30px)";
			display: inline-block;
    		float: right;

    		&:focus {
    			outline: none;
    		}
		}
	}

	h1 {
		text-align: center;

		img {
			display: inline-block;
		}
	}

	.loginBox {
	    padding: 20px 0;
	    margin-top: 28px;

		.loginLink {
		    font-size: 12px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #000;
		    display: inline-block;
		    float: right;
	        margin: 7px 25px;

	        &:hover {
	        	color: @base;
	        	text-decoration: none;
	        }
		}

		#cart {
			display: inline-block;
    		float: right;
		    display: inline-block;

    		.cartSprite {
				width: 28px;
				height: 28px;
				border-radius: 14px;
				background-color: #000;
				position: relative;
				display: inline-block;

				&:before {
					content:'';
					background: url('../media/img/sprite.png') no-repeat -136px -35px;
				    width: 19px;
				    height: 18px;
				    display: block;
				    position: absolute;
				    top: 6px;
				    left: 0;
				    right: 0;
				    margin: auto;
				}

				#cartCount {
					background-color: @base;
					color: #000;
					font-size: 10px;
					height: 18px;
					line-height: 18px;
					border-radius: 9px;
					position: absolute;
					right: 0;
					min-width: 18px;
    				text-align: center;
    				right: -7px;
    				top: -11px;
				}
			}

			#cartTotal {
				display: inline-block;
				margin: 0 12px;
    			vertical-align: 8px;
			}
		}
	}

	nav {
		ul {
			text-align: center;
			li {
				display: inline-block;
			    padding: 0 29px;
			    text-transform: uppercase;

			    a {
			    	color: #000;
			    }
			}
		}
	}
}

/* CONTENT */


/* BANNER */
#content {

	.bannerContainer {
		overflow: hidden;
		position: relative;
		width: 100%;

		#banner {
			margin: 0;
			padding: 0;
			left: 0;
			position: relative;
			transition: all 0.6s ease-out;

			.item {
				height: 629px;
				width: 100vw;
				margin: 0;
				padding: 0;
				display: inline-block;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				.container .row {
					text-align: center;
					position: relative;
    				top: 250px;

					h2, a, .smallText {
						color:#fff;
						font-family: "lato-light";				
					}

					.smallText {
						font-size: 31px;
						display: block;
					}

					h2 {
						font-size: 75px;
						margin: -10px 0 0;
					}

					a {
						font-size: 13px;
						font-family: 'lato-bold';
						display: inline-block;
						padding: 14px 60px;
						margin-top: 15px;
						border: 2px solid #fff;
						border-radius: 3px;
						text-align: center;
						text-transform: uppercase;

						&:hover {
							color: @base;
							border: 2px solid @base;
						}
					}
				}
			}
		}

		.controls {
			position: relative;

			.arrows {
				.left, .right {
					background-image: url('../media/img/sprite.png');
					width: 44px;
					height: 108px;
					background-repeat: no-repeat;
					display: inline-block;
					position: absolute;
	    			z-index: 20;
	    			top: 280px;
	    			cursor:pointer;
				}
				.left {
					background-position: -2px -80px;
					left: 0;
				}
				.right {
					background-position: -52px -81px;
					right: 0;
				}
			}

			.paginationGroup {
				text-align: center;
				height: 0;

				.bannerPagination {
				    width: 11px;
				    height: 11px;
				    border-radius: 8px;
				    border: 2px solid #fff;
				    background-color: transparent;
				    display: inline-block;
				    margin: 0 7px;
				    position: relative;
				    top: 580px;
				    z-index: 21;
				    cursor: pointer;
				    .transitioned;

				    &.active {
				    	background-color: #fff;
				    }
				}
			}
		}
	}
}

/* MAIN SECTIONS */

#content {
	#mainsectionsgroup {
		text-align: center;
		padding: 40px 0;

		.mainsection {
			display: inline-block;
			width: 380px;
			height: 270px;
			margin: 0 18px;
			position: relative;

			a {
				color: @base;
				    font-size: 41px;
				    font-family: 'lato-light';	
			}

			a:hover {
				color: #fff;

				.mainsection-hover {
					.visible;
				}
			}
			.mainsection-hover {
				width: 100%;
				height: 270px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				font: 0/0 a;
				.transitioned;
				.invisible;

				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				span {
					display: inline-block;
				    vertical-align: middle;
				    font-size: 41px;
				    font-family: 'lato-light';
				}
			}
		}
	}
}