/* ICONS */

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  //vertical-align: text-top;
  vertical-align: middle;
  background-image: url("images/sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-add-car {
	
	width: 30px;
    height: 37px;
   	background-size: 800px 203px;
    background-repeat: no-repeat;
    background-position: -661px -155px;
}