@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

// HEADER
header {
    margin: 0 auto;
    width: 70vw;
    @media screen and (max-width: 768px) {
        width: 95vw;
    }
    .header-flex-config {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
    }
    .header-main {
        @extend .header-flex-config;
        border-bottom: 1px solid #e4e4e4;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-search {
        align-self: center;
        position: relative;
        .fa-search {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        input {
            background: #f4f4f4;
            border: 0px solid;
            border-radius: 3px;
            height: 25px;
            max-width: 200px;
            text-indent: 25px;
            text-transform: uppercase;
        }
    }
    .header-logo {
        align-self: center;
    }
    .header-user {
        display: flex;
        flex-flow: row nowrap;
        font-size: 11px;
        justify-content: space-between;
        line-height: 2.364;
        text-transform: uppercase;
        .header-login,
        .header-price {
            align-self: center;
        }
        .header-cart {
            align-self: center;
            position: relative;
            img {
                align-self: center;
                margin: 10px;
            }
            .cart-qty {
                background: #fcc619;
                border-radius: 50%;
                font-size: 10px;
                height: 18px;
                line-height:18px;
                position: absolute;
                right: 2px;
                text-align: center;
                top: 0px;
                width: 18px;
            }
        }
    }
    .header-menu {
        @extend .header-flex-config;
        justify-content: center;
        height: 50px;
        .header-links {
            align-self: center;
            a {
                font-size: 11px;
                font-weight: bold;
                line-height: 2.364;
                padding: 30px;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    padding: 15px;
                }
            }
        }
    }
}


// CAROUSEL
main {
    .carousel {
        background: url('../img/carrossel.gif');
        color: white;
        height: 70vh;
        .darker {
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
        }
        .carousel-info {
            width: 70vw;
            height: 90%;
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            @media screen and (max-width: 768px) {
                width: 90vw;
            }
        }
        .left-arrow,
        .right-arrow {
            flex: 0 1 auto;
        }
        .carousel-text {
            flex: 1 1 auto;
            align-self: center;
            text-align: center;
            font-weight: 300;
            p:first-child {
                font-size: 30px;
                margin: 0;
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
            }
            p:nth-child(2){
                font-size: 70px;
                margin: 0;
                @media screen and (max-width: 768px) {
                    font-size: 50px;
                }
            }
            button {
                background-color: transparent;
                border: 2px solid white;
                border-radius: 4px;
                color: white;
                font-family: 'Lato', sans-serif;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                width: 228px;
                height: 46px;
                margin-top: 15px;
                @media screen and (max-width: 768px) {
                    width: 150px;
                }
            }
        }
        .dots {
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            span {
                padding: 8px;
            }
        }
    }
}


// SHELF
.shelf {
    margin: 0 auto;
    width: 70vw;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        width: 95vw;
        flex-direction: column;
    }
    .shelf-img {
        flex: 0 1 auto;
        margin: 42px 21px;
        position: relative;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
        img {
            width: 100%;
            height: 100%;
            @media screen and (max-width: 768px) {
                padding-top: 20px;
            }
        }
        .shelf-text {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 40px;
            color: white;
            top:0;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            opacity: 0;
            &:hover {
                opacity: 1;
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
            }
        }
    }
    .shelf-img-1 {
        margin-left: 0;
    }
    .shelf-img-3 {
        margin-right: 0;
    }
}


// TOP PRODUCTS
.top-products {
    margin: 0 auto;
    width: 70vw;
    h3 {
        color: #2d2d2d;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 10px;
        margin-top: 0;
    }
    .products {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        margin-bottom: 20px;
        .product {
            flex: 1 1 auto;
            max-width: 190px;
            position: relative;
            margin: 10px;
            border-radius: 4px;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
            .product-shipping,
            .product-new {
                background-color: #fcc619;
                font-size: 10px;
                color: black;
                text-transform: uppercase;
                padding: 2px 4px;
                position: absolute;
                right: 0px;
            }
            .product-img {
                align-self: center;
                width: 100%;
            }
            .product-stars {
                padding: 10px;
            }
            .product-name {
                font-size: 14px;
                line-height: 1.8;
                padding: 10px;
                .product-price-old {
                    text-decoration: line-through;
                    color: #c7c7c7;
                }
                .product-price, .product-discount {
                    font-weight: bold;
                    color: black;
                }
                .product-installment {
                    font-size: 14px;
                    color: #c7c7c7;
                }
            }
        }
    }
}


// REGISTRATION FORM
.registration-form {
    margin: 0 auto;
    width: 70vw;
    height: 123px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        flex-flow: column nowrap;
        height: 200px;
    }
    @media screen and (max-width: 690px) {
        height: 300px;
    }
    .form-img {
        flex: 1 1 auto;
        align-self: stretch;
        @media screen and (max-width: 1200px) {
            align-self: center;
        }
        img {
            @media screen and (max-width: 690px) {
                width: 90%;
                padding-left: 1.25em;
            }
        }
    }
    .form-inputs {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        @media screen and (max-width: 690px) {
            display: block;
        }
        @media screen and (max-width: 1200px) {
            margin-bottom: 20px;
        }
        a {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        input {
            margin-right: 5px;
            margin-top: 5px;
            background-color: #f0f0f0;
            border: 0px solid;
            border-radius: 3px;
            height: 25px;
            max-width: 200px;
            text-transform: uppercase;
        }
        button {
            border-radius: 4px;
            background-color: black;
            align-self: flex-end;
            height: 30px;
            border: 0px solid;
            color: white;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            @media screen and (max-width: 690px) {
                margin-top: 20px;
            }
        }
    }
}


// FOOTER
footer {
    background: #f7f7f7;
    margin-top: 30px;
    .footer {
        margin: 0 auto;
        padding: 30px 0;
        width: 70vw;
        align-items: flex-start;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        border-bottom: 1px solid #dcdcdc;
        @media screen and (max-width: 1200px) {
            width: 95vw;
        }
        .footer-logo {
            align-self: center;
            @media screen and (max-width: 768px) {
                align-self: auto;
            }
        }
        .footer-menu {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .footer-menu-mobile {
            @media screen and (max-width: 700px) {
                display: none;
            }
            @media screen and (min-width: 769px) {
                display: none;
            }
        }
        .footer-info {
            @media screen and (max-width: 1100px) {
                display: none;
            }
        }
        .footer-payment {
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
        h4 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
        a {
            color: #999999;
            font-size: 14px;
            line-height: 0.7;
        }
    }
    .copyright {
        text-align: center;
        font-size: 14px;
        color: #999999;
    }
}
