@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

// HEADER
header {
    margin: 0 auto;
    width: 70vw;
    @media screen and (max-width: 768px) {
        width: 95vw;
    }
    .header-flex-config {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
    }
    .header-main {
        @extend .header-flex-config;
        border-bottom: 1px solid #e4e4e4;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-search {
        align-self: center;
        position: relative;
        .fa-search {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        input {
            background: #f4f4f4;
            border: 0px solid;
            border-radius: 3px;
            height: 25px;
            max-width: 200px;
            text-indent: 25px;
            text-transform: uppercase;
        }
    }
    .header-logo {
        align-self: center;
    }
    .header-user {
        display: flex;
        flex-flow: row nowrap;
        font-size: 11px;
        justify-content: space-between;
        line-height: 2.364;
        text-transform: uppercase;
        .header-login,
        .header-price {
            align-self: center;
        }
        .header-cart {
            align-self: center;
            position: relative;
            img {
                align-self: center;
                margin: 10px;
            }
            .cart-qty {
                background: #fcc619;
                border-radius: 50%;
                font-size: 10px;
                height: 18px;
                line-height:18px;
                position: absolute;
                right: 2px;
                text-align: center;
                top: 0px;
                width: 18px;
            }
        }
    }
    .header-menu {
        @extend .header-flex-config;
        justify-content: center;
        padding: 25px 0;
        .header-links {
            align-self: center;
            a {
                font-size: 11px;
                font-weight: bold;
                line-height: 2.364;
                padding: 0 25px;
                text-transform: uppercase;
            }
        }
    }
}


// CAROUSEL
main {
    .carousel {
        background: url('../img/carrossel.gif');
        color: white;
        height: 70vh;
        &:hover {
            opacity: 0.8;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
        }
        .carousel-info {
            width: 70vw;
            height: 90%;
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        .left-arrow,
        .right-arrow {
            flex: 0 1 auto;
        }
        .carousel-text {
            flex: 1 1 auto;
            align-self: center;
            text-align: center;
            font-weight: 300;
            p:first-child {
                font-size: 30px;
                margin: 0;
            }
            p:nth-child(2){
                font-size: 70px;
                margin: 0;
            }
            button {
                background-color: transparent;
                border: 2px solid white;
                border-radius: 4px;
                color: white;
                font-family: 'Lato', sans-serif;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                width: 228px;
                height: 46px;
                margin-top: 15px;
            }
        }
        .dots {
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            span {
                padding: 8px;
            }
        }
    }
}



// SHELF
.shelf {
    margin: 0 auto;
    width: 70vw;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        width: 95vw;
        flex-direction: column;
    }
    .shelf-img {
        align-self: center;
        padding: 42px 0;
        img {
            width: 90%;
            margin: 0 21px;
            background: black;
        }
        &:hover {
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
            opacity: 0.8;
        }
    }
}


// TOP PRODUCTS
.top-products {
    margin: 0 auto;
    width: 70vw;
    h3 {
        color: #2d2d2d;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 10px;
    }
}
