@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

*:focus {
    outline-color: #e4e4e4;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

// HEADER MIXINS
@mixin flex-config {
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
}
@mixin fa-search {
    position: absolute;
    left: 5px;
    top: 5px;
}
@mixin search-input {
    background: #f4f4f4;
    border: 0px solid;
    border-radius: 3px;
    height: 25px;
    text-indent: 25px;
    text-transform: uppercase;
}
@mixin text-config {
    font-size: 11px;
    line-height: 2.364;
    text-transform: uppercase;
}
@mixin cart-qty {
    background: #fcc619;
    border-radius: 50%;
    font-size: 10px;
    height: 18px;
    line-height:18px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 0px;
    width: 18px;
}
@mixin link-config {
    @include text-config;
    cursor: pointer;
    font-weight: bold;
    padding: 30px;
    &:hover {
        color: #fcc619;
    }
}

// TRANSITION MIXIN
@mixin hover-transition {
    opacity: 1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

// HEADER DESKTOP
.header-desktop {
    margin: 0 auto;
    width: 70vw;
    opacity: 1;
    .header-main {
        @include flex-config;
        border-bottom: 1px solid #e4e4e4;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-search {
        align-self: center;
        -webkit-align-self: center;
        position: relative;
        width: 200px;
        .fa-search {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        input {
            @include search-input;
        }
    }
    .header-logo {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        align-self: center;
        -webkit-align-self: center;
        img {
            display: block;
            margin: auto;
        }
    }
    .header-user {
        @include text-config;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        .header-login {
            align-self: center;
            -webkit-align-self: center;
            &:hover {
                font-weight: bold;
            }
        }
        .header-price {
            align-self: center;
            -webkit-align-self: center;
        }
        .header-cart {
            align-self: center;
            -webkit-align-self: center;
            position: relative;
            img {
                align-self: center;
                -webkit-align-self: center;
                margin: 10px;
            }
            .cart-qty {
                @include cart-qty;
            }
        }
    }
    .header-menu {
        @include flex-config;
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        height: 50px;
        .header-links {
            align-self: center;
            -webkit-align-self: center;
            a {
                @include link-config;
            }
        }
    }
    @media screen and (max-width: 767px) {
        opacity: 0;
        display: none;
    }
}


// HEADER MOBILE
.header-mobile {
    margin: 0 auto;
    width: 85vw;
    opacity: 1;
    .mobile-logo {
        padding: 20px;
    }
    input[type="checkbox"] {
        display: none;
    }
    .control-nav {
        position: absolute;
        right: 40px;
        top: 40px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            height: 3px;
            background: #333;
        }
    }
    .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .mobile-menu {
        padding: 10px;
        .mobile-user {
            @include flex-config;
            @include text-config;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            .mobile-login, .mobile-price {
                align-self: center;
                -webkit-align-self: center;
            }
            .mobile-cart {
                align-self: center;
                -webkit-align-self: center;
                position: relative;
                img {
                    align-self: center;
                    -webkit-align-self: center;
                    margin: 10px;
                }
                .cart-qty {
                    @include cart-qty;
                }
            }
        }
        .mobile-search {
            align-self: center;
            -webkit-align-self: center;
            position: relative;
            .fa-search {
                @include fa-search;
            }
            input {
                @include search-input;
                width: 100%;
            }
        }
        .mobile-links {
            align-items: flex-start;
            -webkit-align-items: flex-start;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-flow: column nowrap;
            -webkit-flex-flow: column nowrap;
            -moz-flex-flow: column nowrap;
            margin-top: 20px;
            border-top: 1px solid #e4e4e4;
            a {
                @include link-config;
                padding: 10px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        opacity: 0;
        display: none;
    }
}


// CAROUSEL
main {
    .carousel {
        background: url('../img/carrossel.gif');
        color: white;
        height: 70vh;
        .darker {
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
        }
        .carousel-info {
            width: 70vw;
            height: 90%;
            margin: 0 auto;
            align-items: center;
            -webkit-align-items: center;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-flow: row nowrap;
            -webkit-flex-flow: row nowrap;
            -moz-flex-flow: row nowrap;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            @media screen and (max-width: 768px) {
                width: 90vw;
            }
        }
        .left-arrow,
        .right-arrow {
            flex: 0 1 auto;
            a {
                color: white;
                cursor: pointer;
            }
        }
        .carousel-text {
            flex: 1 1 auto;
            align-self: center;
            -webkit-align-self: center;
            text-align: center;
            font-weight: 300;
            p:first-child {
                font-size: 30px;
                margin: 0;
                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
            }
            p:nth-child(2){
                font-size: 70px;
                margin: 0;
                @media screen and (max-width: 768px) {
                    font-size: 50px;
                }
            }
            button {
                background-color: transparent;
                border: 2px solid white;
                border-radius: 4px;
                color: white;
                cursor: pointer;
                font-family: 'Lato', sans-serif;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                width: 180px;
                height: 45px;
                margin-top: 15px;
                @media screen and (max-width: 768px) {
                    width: 150px;
                }
            }
        }
        .dots {
            align-items: center;
            -webkit-align-items: center;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            text-align: center;
            cursor: pointer;
            span {
                padding: 8px;
            }
        }
    }
}


// SHELF
.shelf {
    margin: 0 auto;
    width: 70vw;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    @media screen and (max-width: 768px) {
        width: 95vw;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .shelf-img {
        flex: 0 1 auto;
        margin: 42px 21px;
        position: relative;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
        img {
            width: 100%;
            height: 100%;
            @media screen and (max-width: 768px) {
                padding-top: 20px;
            }
        }
        .shelf-text {
            width: 100%;
            height: 100%;
            position: absolute;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            font-weight: 300;
            font-size: 40px;
            color: white;
            top:0;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            opacity: 0;
            &:hover {
                @include hover-transition;
            }
        }
    }
    .shelf-img-1 {
        margin-left: 0;
    }
    .shelf-img-3 {
        margin-right: 0;
    }
}


// TOP PRODUCTS
.top-products {
    margin: 0 auto;
    width: 70vw;
    @media screen and (max-width: 800px) {
        width: 95vw;
    }
    h3 {
        color: #2d2d2d;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 10px;
        margin-top: 0;
        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
    }
    .products {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        margin-bottom: 20px;
        @media screen and (max-width: 700px) {
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            flex-flow: column wrap;
            -webkit-flex-flow: column nowrap;
            -moz-flex-flow: column nowrap;
        }
        .product {
            flex: 1 1 auto;
            max-width: 190px;
            height: 340px;
            position: relative;
            margin: 10px;
            &:hover {
                border-radius: 4px;
                box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
                button {
                    opacity: 1;
                    width: 100%;
                    background: black;
                    color: white;
                    text-transform: uppercase;
                    border: 0px solid;
                    font-family: 'Lato', sans-serif;
                    font-size: 10px;
                    font-weight: bold;
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    height: 50px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                    cursor: pointer;
                    .cart {
                        color: #fcc619;
                        font-size: 15px;
                    }
                }
            }
            .product-shipping,
            .product-new {
                background-color: #fcc619;
                font-size: 10px;
                color: black;
                text-transform: uppercase;
                padding: 2px 4px;
                position: absolute;
                right: 0px;
            }
            .product-img {
                align-self: center;
                -webkit-align-self: center;
                width: 100%;
            }
            .product-stars {
                padding: 10px 10px 0 10px;
                .yellow {
                    color: #fcc619;
                    margin: 1px;
                }
                .gray {
                    margin: 1px;
                    color: #c7c7c7;
                }
            }
            .product-info {
                font-size: 12px;
                line-height: 1.8;
                padding: 10px;
                margin: 0;
                .product-price-old {
                    text-decoration: line-through;
                    color: #c7c7c7;
                }
                .product-price,
                .product-discount {
                    font-weight: bold;
                    color: black;
                }
                .product-installment {
                    font-size: 12px;
                    color: #c7c7c7;
                }
            }
            button {
                opacity: 0;
            }
        }
    }
}


// REGISTRATION FORM
.registration-form {
    margin: 0 auto;
    width: 70vw;
    height: 123px;
    border: 2px solid black;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    @media screen and (max-width: 1200px) {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        height: 200px;
    }
    @media screen and (max-width: 690px) {
        height: 300px;
    }
    .form-img {
        flex: 1 1 auto;
        align-self: stretch;
        -webkit-align-self: stretch;
        @media screen and (max-width: 1200px) {
            align-self: center;
            -webkit-align-self: center;
        }
        img {
            @media screen and (max-width: 690px) {
                width: 90%;
                padding-left: 1.25em;
            }
        }
    }
    .form-inputs {
        flex: 1 1 auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        @media screen and (max-width: 690px) {
            display: block;
        }
        @media screen and (max-width: 1200px) {
            margin-bottom: 20px;
        }
        a {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        input {
            margin-right: 5px;
            margin-top: 5px;
            background-color: #f0f0f0;
            border: 0px solid;
            border-radius: 3px;
            height: 25px;
            max-width: 200px;
        }
        button {
            cursor: pointer;
            border-radius: 4px;
            background-color: black;
            align-self: flex-end;
            -webkit-align-self: flex-end;
            height: 30px;
            border: 0px solid;
            color: white;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            @media screen and (max-width: 690px) {
                margin-top: 20px;
            }
        }
    }
}


// FOOTER
footer {
    background: #f7f7f7;
    margin-top: 30px;
    .footer {
        margin: 0 auto;
        padding: 30px 0;
        width: 70vw;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        border-bottom: 1px solid #dcdcdc;
        @media screen and (max-width: 1200px) {
            width: 95vw;
        }
        .footer-logo {
            align-self: center;
            -webkit-align-self: center;
            @media screen and (max-width: 768px) {
                align-self: auto;
                -webkit-align-self: auto;
            }
        }
        .footer-menu {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .footer-menu-mobile {
            @media screen and (max-width: 700px) {
                display: none;
            }
            @media screen and (min-width: 769px) {
                display: none;
            }
        }
        .footer-info {
            @media screen and (max-width: 1100px) {
                display: none;
            }
        }
        .footer-payment {
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
        h4 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
        a {
            color: #999999;
            font-size: 14px;
            line-height: 0.7;
        }
    }
    .copyright {
        text-align: center;
        font-size: 14px;
        color: #999999;
    }
}
