@font-face {
    font-family: DidactGothic;
    src: url(../../font/DidactGothic-Regular.ttf);
}

* {
	font-family: DidactGothic;
}

#page {

	/*Classe responsável pelo layout do header*/

	.header {
	    border-bottom: 2px solid #ff9f1c;
	    padding-bottom: 36px;
	    margin-top: 32px;
		:nth-child(2) {
		    float: right;
		    right: 2%;
		    position: absolute;
		    top: 10%;
		}
		.header-border {
		    width: 70%;
		    margin: 0 auto;
		    display: flex;
		    position: relative;
		    p {
		    	background-color: #ff9f1c;
			    border-radius: 10px;
			    padding: 0px 7px;
			    font-size: 14px;
			    color: #fff;
			    text-align: center;
			    line-height: 20px;
			    position: relative;
			    top: -6px;
			    left: -5px;
		    }
		}
	}

	/*Classe responsável pelo layout do subheader*/

	.subHeader {
		width: 70%;
	    margin: 0 auto;
	    margin-top: 10px;
    	&__title {
		    display: inline-block;

			h1 {
				font-weight: 100;
				font-size: 1.9em;
			}
    	}
    	&__tab {
    		float: right;
    		margin-top: 32px;
    	}
    	&__form{
		    select {
				height: 30px;
			    width: 125px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    background: url(../../images/arrow.png) no-repeat rgb(255, 255, 255);
			    background-position: 95px;
			    background-size: 22px;
			    padding-left: 8px;
			    option{
					&:hover {
						background-color: #ff9f1c;
					}
			    }
		   	}
		   		}
	}

	/*Classe responsável pelo layout do conteudo/corpo*/

	.content {
		width: 72%;
	    display: table;
	    margin: 0 auto;
	    position: relative;

		/*Classe responsável pelo layout do conteudo/corpo na parte de filtros*/
		&__Filtro {
				position: absolute;
			    width: 25%;
		    h1 {
		    	font-size: 1.2em;
			    font-weight: 100;
			    margin-top: 26px;
			    margin-left: 10px;
		    }
		    &__form {
		    	    margin-left: 10px;
					margin-top: 30px;
				p {
					text-decoration: underline;
					display: inline;
   					margin-right: 8px;
				}
				input[type="checkbox"] {
				    display:none;
				}

				input[type="checkbox"] + label {
				    color:#000;
				}

				input[type="checkbox"] + label .labelSpan {
				    display:inline-block;
				    width: 12px;
				    height: 12px;
				    margin: 0px 10px 0 0;
				    vertical-align:middle;
				    cursor: pointer;
				    border: 1px solid black;
				}

				input[type="checkbox"]:checked + label .labelSpan {
					background-image: url("../../images/Select.png");
				    background-size: 8px;
				    background-repeat: no-repeat;
				    background-position: center;
				    border: 1px solid black;
				}
				ul {
					padding-left: 2px;
					li {
						list-style: none;
						margin-top: 3px;
					}
				}
			}
		}

	&__Card {
	    margin: 0;
	    width: 80%;
	    float: right;
	    margin-right: -38px;
	    a {
	    	&:-webkit-any-link{
				color: #000;
				text-decoration: none;
	    	};
	    }
	    ul {
	    	padding: 0px;
		    li {
				display: inline-block;
				list-style: none;
				width: 33%;
				}
			}	
		img {
			margin: 0 12px;
		}
		&__mais {
		        text-align: center;
			    background-color: #ff9f1c;
			    width: 25%;
			    padding: 10px 40px;
			    color: #fff;
			    margin: 55px auto;
			a {
		    	&:-webkit-any-link{
					color: #fff;
					text-decoration: none;
		    	};
		    }
		}
		&__block {
			&__title {
				font-size: 0.8em;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    text-align: center;
			}
			&__preco {
				display: inline-block;
				margin-left: 38px;
				&__total {
				font-size: 1.1em;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    text-align: right;
			    font-weight: bold;
			    margin-bottom: -16px;
    			}
			}
			&__promo{
				color: #c2c2c2;
    			text-decoration: line-through;
			}
		}
	}
}

	.arrow {
		transition: 0.3s transform;
		display: inline-block;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.arrow_down {
		transition: 0.3s transform;
		display: inline-block;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}
		

		/*Classe responsável pelo layout do conteudo/corpo na parte de filtros na parte de tamanhos*/
	.boxTamanhos {
		margin: 0 15px;
		a {
			margin: 5px;
		    border: 1px solid black;
		    padding: 5px;
		    display: inline-block;
		    width: 20px;
		    height: 20px;
		    text-align: center;
		}
	}
	.dropdownNone {
		display: none;
	}

	.dropdownBlock {
		display: block;
		margin-top: -13px;
	}
}