<section id='filter'>
  <h5>Filtrar</h5>

  <h6>Cores</h6>
  <ul class='checkboxes'>
    <li>Amarelo</li>
    <li>Azul</li>
    <li>Branco</li>
    <li>Cinza</li>
    <li>Laranja</li>
    <li>Verde</li>
    <li>Vermelho</li>
    <li>Preto</li>
    <li>Rosa</li>
    <li>Vinho</li>
  </ul>

  <h6>Tamanhos</h6>
  <ul class='squares'>
    <li>P</li>
    <li>M</li>
    <li>G</li>
    <li>GG</li>
    <li>U</li>
    <li>36</li>
    <li>38</li>
    <li>40</li>
    <li>42</li>
    <li>44</li>
    <li>46</li>
  </ul>

  <h6>Faixa de preço</h6>
  <ul class='checkboxes'>
    <li>de R&#36; 0 até R&#36; 50</li>
    <li>de R&#36; 51 até R&#36; 150</li>
    <li>de R&#36; 151 até R&#36; 300</li>
    <li>de R&#36; 301 até R&#36; 500</li>
    <li>a partir de R&#36; 501</li>
  </ul>

  <button class='orange' type='button' name='apply'>Aplicar</button>
  <button type='button' name='clean'>Limpar</button>

</section>
