body
  section#mainSection
    +mq('desktop')
      padding: 0 15vw
    h2
      text-align: center
      text-transform: uppercase
      font-weight: lighter
      margin: 5vh 0 2vh 0
      +mq('desktop')
        text-align: initial
    button[name='showMore']
      display: block
      margin: 0 auto
      background-color: orange
      color: #fff
      text-transform: uppercase
      letter-spacing: 2px
      border: none
      padding: 12px 80px 10px 80px
