body
  section#mainSection
    +mq('desktop')
      padding: 0 15vw
    h2
      text-align: center
      text-transform: uppercase
      font-weight: lighter
      margin: 5vh 0 2vh 0
      +mq('desktop')
        text-align: initial
    ul
      list-style-type: none
      +justify-content(center)
      +display(flex)
      li
        border: 1px solid grey
        padding: 2vh 15vw
        color: grey
    section#clothesWrapper
      width: 100vw
      +display(flex)
      section.clothe
        figure
          img
            width: 80%
          figcaption
            text-align: center
        div
          width: inherit
          +display(flex)
          ul
            display: initial
            +justify-content(initial)
            text-align: right
            li
              border: none
          button

    button[name='showMore']
      display: block
      margin: 0 auto
      background-color: orange
      color: #fff
      text-transform: uppercase
      letter-spacing: 2px
      border: none
      padding: 12px 80px 10px 80px
