@font-face {
  font-family: 'bellcent_add_btaddress', sans-serif;
  src: url('../fonts/bellcent/bellcent-add-bt-address-webfont.eot');
  src: url('../fonts/bellcent/bellcent-add-bt-address-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bellcent/bellcent-add-bt-address-webfont.woff2') format('woff2'), url('../fonts/bellcent/bellcent-add-bt-address-webfont.woff') format('woff'), url('../fonts/bellcent/bellcent-add-bt-address-webfont.ttf') format('truetype'), url('../fonts/bellcent/bellcent-add-bt-address-webfont.svg#bellcent_add_btaddress') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellcentennial_add_btaddress', sans-serif;
  src: url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.eot');
  src: url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.woff2') format('woff2'), url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.woff') format('woff'), url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.ttf') format('truetype'), url('../fonts/bell-centennial/bell-centennial-address-bt-webfont.svg#bellcent_add_btaddress') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baskerville_regular', sans-serif;
  src: url('../fonts/baskerville/baskerville-normal-webfont.eot');
  src: url('../fonts/baskerville/baskerville-normal-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/baskerville/baskerville-normal-webfont.woff2') format('woff2'), url('../fonts/baskerville/baskerville-normal-webfont.woff') format('woff'), url('../fonts/baskerville/baskerville-normal-webfont.ttf') format('truetype'), url('../fonts/baskerville/baskerville-normal-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
