h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 100;
  font-family: 'BellCentennialBT', Helvetica, Arial, sans-serif; }

p {
  font-size: 10px;
  font-size: 1rem; }

@font-face {
  font-family: 'BellCentennialBT';
  src: url("../../fonts/BellCentennialBT.eot");
  src: url("../../fonts/fonts/BellCentennialBT.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/BellCentennialBT.woff") format("woff"), url("../../fonts/fonts/BellCentennialBT.ttf") format("truetype"), url("../../fonts/fonts/BellCentennialBT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
a,
button,
input,
select,
textarea {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'BellCentennialBT', Helvetica, Arial, sans-serif; }

body {
  margin: 0; }

a {
  outline: none; }

header {
  border-bottom: 3px solid #ff9f1c;
  padding-top: 20px;
  padding-bottom: 20px; }
  header .logo-profite {
    width: 100%; }
  header .bag {
    background-image: url(./../img/bag.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding: 20px;
    background-size: 80%;
    background-color: transparent;
    border: none; }
  header .count-buy {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #ff9f1c;
    color: #ffffff;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 25px;
    right: 8px; }
    header .count-buy span {
      text-align: center;
      font-size: 9px;
      font-size: 0.9rem;
      display: block; }

.inner-top-desktop .inner-top-desktop-order {
  width: 100%;
  margin-top: 33px; }

main .inner-top {
  text-align: center; }
  main .inner-top .inner-top-btn {
    margin-top: 15px;
    margin-bottom: 15px; }
    main .inner-top .inner-top-btn .inner-top-btn-left, main .inner-top .inner-top-btn .inner-top-btn-right {
      border-top: 1px solid #999999;
      border-right: 1px solid #999999;
      border-bottom: 1px solid #999999;
      border-left: 1px solid #999999; }
      main .inner-top .inner-top-btn .inner-top-btn-left button, main .inner-top .inner-top-btn .inner-top-btn-right button {
        background: none;
        color: #666666;
        border: none;
        font-size: 10px;
        font-size: 1rem;
        padding: 8px;
        cursor: pointer;
        display: block;
        width: 100%; }
    main .inner-top .inner-top-btn .inner-top-btn-right {
      border-left: none; }
main .main-products-list {
  list-style: none;
  padding: 0; }
  main .main-products-list .main-products-list-items {
    padding-bottom: 40px; }
    main .main-products-list .main-products-list-items img {
      display: block;
      margin: 0 auto; }

footer {
  background-color: #000000;
  padding: 7px;
  text-align: center; }
  footer p {
    font-family: 'BellCentennialBT', Helvetica, Arial, sans-serif;
    color: #999999; }

/* queries mobile
----------------------------------------*/
@media (max-width: 480px) {
  h1 {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 100; }

  footer p {
    font-size: 7px;
    font-size: 0.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; } }
@media (max-width: 320px) {
  footer p {
    font-size: 7px;
    font-size: 0.7rem; } }
@media (min-width: 321px) and (max-width: 480px) {
  header .bag {
    background-image: url(./../img/bag.png);
    background-repeat: no-repeat;
    background-position: 32px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: 60%; }
    header .bag .count-buy {
      top: 40px; }

  footer p {
    font-size: 7px;
    font-size: 0.7rem; } }

/*# sourceMappingURL=main.css.map */
