.txt-hide{
    font-size: 0.01px;
    color: transparent;
    text-indent: -999999px;
}
.list {
    margin: 0;
    padding: 0;
    display: block;
 }
.list li {
    list-style: none;
}
.list.list-block li {
    display: block;
}
.list.list-inline li {
    display: inline;
}
.list.list-iblock li {
    display: inline-block;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.fnone{
    float: none;
}
.txt-left {
    text-align: left
}
.txt-right {
    text-align: right
}
.txt-center {
    text-align: center
}
.txt-justify {
    text-align: justify
}
.hide,
.hide-desktop{
    display:none!important;
    transition: all .3s;
}
