@media (min-width: 300px) and (max-width: 939px){
  .container{
    width: 100%;
  }

  #lista-produtos li .produtos{
    margin-left: 3px!important;
    margin-right: 3px!important;
    width: 135px;
  }

  aside, article{
    float: none!important;
    width: 100%!important;
  }

  .widget ul{
    display:none!important;
  }

  .widget ul li.blocos:nth-child(4n) {
    margin-right: 10px;
  }

  .hide{
    display: block!important;
  }
  #btnCores{
    display: none;
  }
}
