@media only screen and (max-width: 1170px) {
    img { max-width: 100% !important; height: auto !important; }

    .column-full { width: auto; }
    .content { padding-left: 15px; padding-right: 15px; }
}
@media only screen and (max-width: 1024px) {
  .container{
    width: 100%;
    
  }
  .container-fluid{
    padding: 0 0 0 15px;
    width: 97%;
  }
  .banner_secundario .column-third{
    width: 32%;
    margin-left: 16px;
    height: auto;
  }
  .banner_secundario{
    margin-top: 25px;
  }
  .column-half.logo{
    width: 45%
  }
  .column-quarter.login_cart{
    width: 30%;
  }
  header .topo .login_cart .cart {
    width: auto;
   
}
.prod.column-fifth{
  width: 18%;
 
}
.botao.btn{
  padding: 10px 10px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0px;
  margin-left: -10px;
  display: block;

 
}
.botao.btn{font-size: 12px;}
.news img{
  margin-left: 0px;
}
figcaption{font-size: 48px;left: 26%;}
button.btn2.conferebanner{top: 43%; right: 43%;}
.btn.btnnews{
  padding: 15px 26px;
}
.news{padding: 0 5px;}
.news p.fontenews{font-size: 25px;}
.news span.fontenewsamare{font-size: 34px}
.news span.fontenewsmenor{font-size: 24px;}
q1w2e3r4
.banner_secundario .column-third a{padding-left: 14%;}
  .banner_secundario .column-third:first-child{margin-left: 0px}
    .space-bottom-big { margin-bottom: 40px }
}
@media only screen and (max-width: 1060px) {
    [class*="column-"].content { width: 100%; }
    
    .column-three-quarters { width: 100%; float: none; }

    .column-half.content { width: 50%; }
}
@media only screen and (max-width: 960px) {
  .news p.fontenews, .news span.fontenewsamare, .news span.fontenewsmenor{font-size: 20px;}
  .news p.fontenews{width: 530px;margin-top: 5px;}
  .btn.btnnews{position: absolute;
    right: -30px;
    top: 0px;padding: 15px 25px;}
  form.newsformclass{position: relative;margin-top: 15px;}
  .news .column-half{width: 70%}
  .banner_secundario .column-third{margin-left: 14px;}
  header{
    .column-quarter.search{
      width: 30%;
      float: none;
    }
    .column-half.logo{
      width: 100%;
      position: absolute;
      top: 0;
    }


  }


  .column-quarter.login_cart{
    position: absolute;
      top: 0;
      right: 0px;
      float: none;
      width: 25%;
  }
    
    #mais_comprados li.prod p.prodimage{min-height: 125px;}
  header .topo .search input[type="search"]{
      
      width: 100%;
    }
    header .topo .login_cart .cart{
      float: none;
      margin-top: 5px;
    }
    header .topo{padding-bottom: 40px;}
    figcaption {
    font-size: 40px;
    left: 20%;
    bottom: 53%;
}
button.btn2.conferebanner{top: 50%;}
    header .topo .login_cart .cart li.carrinho, header .topo .login_cart .cart li.price{margin-top: 20px}
    header .topo .login_cart{margin-top: 10px;}
    header .topo .search{margin-top: 0px;}
    .column-half.content { width: 100%; }
    .column-quarter,
    .column-three-quarters .column-quarter { width: 50%; }
.trs.next{width: 180px;}
    footer .logo_footer h2{width: 100%}
    .column-fifth.column-single { margin-left: auto; margin-right: auto; float: none; clear: both; }

    .column-twelfth { width: 16.6667%; }
}
@media only screen and (max-width: 660px) {
  .banner_secundario{margin-top: 0px;}
  #categorias{display: none;}
  .nav{display: block;}
  .banner_secundario .column-third a:hover{opacity: 0;}
    header .topo .search {
    margin-top: 40px;
}
header .column-quarter.search {
    width: 100%;margin-left: 10px;}

    .header .topo{padding-top: 70px}
 footer{text-align: center;}
  .prod.column-fifth{
  width: 100%;
}
    .column-third:nth-child(n) { clear: both; float: none; padding-left: 15px; padding-right: 15px; width: 100%; }

    .column-fifth { width: 100%; }

    .column-sixth { width: 100%; }
    .column-sixth:nth-child(3n+1) { clear: both; }

    .column-three-fifths,
    .column-two-fifths,
    .column-seven-twelfths,
    .column-five-twelfths { width: 100%; }

    .column-single { margin-left: auto; margin-right: auto; float: none; clear: both; }
}
@media only screen and (max-width: 480px) {
 .container-fluid{width: 100;padding:0;}
 

    .column-half:nth-child(n) { clear: both; float: none; padding-left: 15px; padding-right: 15px; width: 100%; }
figcaption, .trs.next, .trs.prev, button.btn2.conferebanner{display: none !important;}
figure{height: 345px;}
    .column-three-quarters .column-quarter,
    .column-half .column-quarter,
    .column-quarter { width: 100%; float: none; clear: both; }
    
    .column-twelfth { width: 33.3333%; }
.banner_secundario .column-third{margin-left: 0px;margin-bottom: 20px;}
    [class*="column-"].content { padding-left: 0; padding-right: 0; }
    .banner_secundario .column-third a:hover{opacity: 0;}
    /*.search{display: none;}*/
    header .topo{padding-top: 60px;}
    header .column-half.logo
    .banner_secundario{margin-top: 0;}
     #mais_comprados li.prod{min-height: 520px;}
  header .topo .login_cart .cart{width: 31px;}
  header .topo .login_cart .cart li.price, .login{display: none;}
  header .column-half.logo{width: 90%;margin-top: 10px;}
  .news{height: 380px;margin-left: 15px;}
  .news p.fontenews{width: 100%;}
  .news img{margin-left: 25%;}
  .btn.btnnews{position: inherit;}
}
@media only screen and (max-width: 320px) {

}

