.img-responsivo{
	width: 100%;
}
.img-responsivo:hover {
	cursor: pointer;
	/*opacity: .5;*/	
}

.clearB{
	clear: both;
}

.box{
	padding-top: 1em;
}

/* Gray Scale */
.box figure img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.box figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.box span {
	position: absolute;
	bottom: 0px;	
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 2.5em;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
	font-weight: bold;
}

figure:hover+span {
	bottom: 150px;
	opacity: .5;
}






@media screen and (min-width: 768px) {

	.box{
		padding-top: 2em !important;
	}
}