.img-responsivo{
	width: 100%;
}
.img-responsivo:hover {
	cursor: pointer;
	/*opacity: .5;*/	
}

.clearB{
	clear: both;
}

.box{
	padding-top: 1em;
}

/* Gray Scale */
.box figure img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.box figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.box span {
	position: absolute;
	bottom: 0px;	
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 2.5em;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
	font-weight: bold;
}

figure:hover+span {
	bottom: 150px;
	opacity: .5;
}

@media screen and (min-width: 768px) {

	.box{
		padding-top: 2em !important;
	}
}

.itens{
	width: 100%;
	display: block;
	min-height: 1px;
	position: relative;
	float: left;
}
@media screen and (min-width: 768px) {

	.itens{
		width: 33.3%;
	}
}
@media screen and (min-width: 1203px) {

	.itens{
		width: 20%;
	}
}


.itens figure img{
	max-width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 17em;
}

@media screen and (min-width: 768px) {

	.itens figure img{
		max-width: 100%;
	}
}

.itens p.nomeProduto, .itens p.valorProduto{	
    margin-bottom: 0;
    margin-top: 0;
  
}




button.addItem{
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
@media screen and (min-width: 1203px) {

	button.addItem{
		visibility: hidden;
	}
	.itens:hover 
	button.addItem{
		visibility: visible;
	}

}

.textoItens{
	width: 14.928em;	
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}