.img-responsivo{
	width: 100%;
}
.img-responsivo:hover {
	cursor: pointer;
	/*opacity: .5;*/	
}

.clearB{
	clear: both;
}

.box{
	padding-top: 1em;
}

.box figure {
	/*background: linear-gradient(to bottom,rgba(255, 251, 251, 0),rgb(0, 0, 0));*/
}
.box figure img {
	/*opacity: 1;*/
	/*-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;*/
}
.box figure:hover img {
	/*opacity: .5;*/
}
/*
.box img:hover{
	-webkit-box-shadow: inset 1px -154px 150px -64px rgba(0,0,0,0.79);
	-moz-box-shadow: inset 1px -154px 150px -64px rgba(0,0,0,0.79);
	box-shadow: inset 1px -154px 150px -64px rgba(0,0,0,0.79);
}*/

.box figure img::after{
	background: linear-gradient(to bottom,rgba(255, 251, 251, 0),rgb(0, 0, 0));
	content: ".";
	position: absolute;
}



@media screen and (min-width: 768px) {

	.box{
		padding-top: 2em !important;
	}
}