.dress {
  margin-bottom: 50px; }

.dress-name {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px; }

.dress .container-price {
  display: flex; }

.dress .container-price .price {
  text-align: right;
  margin-right: 15px; }

.dress .container-price .price .sale-price {
  font-weight: bold; }

.button-cart {
  width: 52px;
  height: 34px;
  background-color: #ff9f1c;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color .2s ease-in-out; }

.button-cart:hover {
  background-color: #e68c10; }

.filter-order {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  font-size: 12px;
  border: 1px solid black; }

.filter-order .options {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  display: none; }

.filter-order .options.open {
  display: block; }

.filter-order .options:not(.label):hover {
  background-color: #ff9f1c;
  color: #ffffff; }

.filter-order .options.label {
  display: block; }

.filter-order .options.label.open {
  border-bottom: 1px solid black; }

.filter-order .options.label .angle {
  font-size: 16px;
  position: absolute;
  top: 8px;
  right: 10px; }

@media (max-width: 990px) {
  .filter-order {
    right: 20px; } }

@media (max-width: 680px) {
  .filter-order {
    display: none; } }

.button-more {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: calc(50% - 130px);
  background-color: #ff9f1c;
  color: #ffffff;
  text-transform: uppercase;
  width: 260px;
  height: 45px;
  line-height: 45px;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in-out; }

.button-more:hover {
  background-color: #e68c10; }

.button-more.hide-true {
  display: none; }

@media (max-width: 680px) {
  .button-more {
    width: 100%;
    margin-left: 0; } }

.box-radio {
  margin-bottom: 5px; }

.radio-buttons {
  cursor: pointer;
  position: relative;
  padding: 2px;
  border: 1px solid #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px; }

.radio-buttons:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block; }

.radio-buttons:checked:after {
  background-color: #ff9f1c;
  box-shadow: 0 0 0 transparent !important; }

.checks {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  border: 1px solid #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 12px;
  margin-bottom: 5px; }

.checks:after {
  color: #999;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.checks:checked {
  border: 1px solid #ff9f1c; }

.checks:checked:after {
  color: #000; }

.box-sizes {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start; }

.box-sizes .flex-null {
  width: 30px;
  height: 0;
  margin-right: 12px; }

.box-sizes.mobile {
  margin-left: calc(50% - 100px); }
