.button-more {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: calc(50% - 130px);
  background-color: #ff9f1c;
  color: #ffffff;
  text-transform: uppercase;
  width: 260px;
  height: 45px;
  line-height: 45px;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in-out; }

.button-more:hover {
  background-color: #e68c10; }

.button-more.hide-true {
  display: none; }

@media (max-width: 680px) {
  .button-more {
    width: 100%;
    margin-left: 0; } }
