@import '../base/highlights.scss';

.button-sort-mobile{
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  position: relative;

  &:hover{
    background-color: $orange;
    color: $font-light;
  }
}

.trigger{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}