.dress {
  margin-bottom: 50px; }
  .dress-name {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px; }
  .dress .container-price {
    display: flex; }
    .dress .container-price .price {
      text-align: right;
      margin-right: 15px; }
      .dress .container-price .price .sale-price {
        font-weight: bold; }
